body {
	text-align: center;
}

h2 {
	text-align: center;
	margin: 0;
}

img {
	text-align: right;
}

.cryptocompare-logo {
	display: none;
}

#amount {
	text-align: center;
}

#delete {
	text-decoration: none;
	background-color: lightgray;
	color: inherit;
	border-radius: 5px;
	padding: 5px 10px;
}

#delete:hover {
	background-color: black;
	color: white;
}

#delete:focus {
	outline: none;
}

#coin-title-wrapper {
	display: grid;
	width: 90%;
	grid-template-columns: repeat(2, 1fr); 
}

@media only screen and (min-width: 600) {
	.ccc-widget {
		width: 50%;
		margin: 0 auto;
	}
}

