body {
	text-align: center;
}

h2 {
	text-align: center;
	margin: 0;
}

img {
	text-align: right;
}

.coin-name {
	display: none;
}

.cryptocompare-logo {
	display: none;
}

#back {
	background-color: lightgray;
	border-radius: 5px;
	color: inherit;
	padding: 5px 10px;
}

#back:hover {
	background-color: black;
	color: white;
}

#amount {
	width: 30%;
	overflow: scroll;
	border: 1px solid lightgray;
	border-radius: 5px;
	text-align: center;
}

#submit {
	border-radius: 5px;
	background-color: lightgray;
	padding: 1% 2%;
	border: none;
}

#submit:hover {
	background-color: black;
	color: white;
}

#delete {
	text-decoration: none;
	background-color: lightgray;
	color: inherit;
	border-radius: 5px;
	padding: 5px 10px;
}

#delete:hover {
	background-color: black;
	color: white;
}

#delete:focus {
	outline: none;
}

#coin-title-wrapper {
	display: grid;
	width: 90%;
	grid-template-columns: repeat(2, 1fr); 
}

@media only screen and (min-width: 600px) {
	.coin-name {
		display: inline-block;
	}

	.ccc-widget {
		width: 80%;
		margin: 0 auto;
	}

	#amount {
		width: 20%;
	}

	#submit {
		padding: 5px 10px;
	}
}

@media only screen and (min-width: 768px) {
	#amount {
		width: 10%;
	}
}

