p {
	text-align: center;
}

h2 {
	text-align: center;
}

.red {
	color: red;
}

.green {
	color: green;
}

#home-header {
	text-align: center;
}

#coins-wrapper {
	display: grid;
	width: 95%;
	margin: auto;
	border: 2px solid black;
	border-radius: 5px;
	grid-template-columns: 10% repeat(3, 1fr);
}

@media only screen and (min-width: 600px) {
	#coins-wrapper {
		width: 50%;
	}
}