h2 {
	text-align: center;
}

form {
	display: grid;
	width: 95%;
	margin: auto;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: "email email email"
											 "password password password"
											 "remember errors errors"
											 "submit text register";
}

.error {
	color: red;
	text-align: center;
}

#errors {
	grid-area: errors;
}

#email {
	grid-area: email;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-bottom: 5%;
}

#email:hover {
	border: 1px solid black;
}

#password {
	grid-area: password;
	border: 1px solid lightgray;
	border-radius: 5px;
}

#password:hover {
	border: 1px solid black;
}

#p-remember {
	grid-area: remember;
	text-align: center;
	font-size: .65em;
}

#submit {
	grid-area: submit;
	background-color: lightgray;
	width: 80%;
	height: 80%;
	margin: auto;
	border: none;
	border-radius: 5px;
}

#submit:hover {
	background-color: black;
	color: white;
}

#text {
	grid-area: text;
	text-align: center;
}

#register {
	grid-area: register;
	background-color: lightgray;
	text-align: center;
	text-decoration: none;
	color: inherit;
	margin: auto;
	padding: 22%;
	border: none;
	border-radius: 5px;
}

#register:hover {
	background-color: black;
	color: white;
}

#register:focus {
	outline: none;
}

@media only screen and (min-width: 600px) {
	form {
		width: 60%;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas: "email email email"
											 	 "password password password"
											   "remember errors errors"
											   "submit text register";
	}

	#p-remember {
		font-size: 1em;
	}
}

@media only screen and (min-width: 768px) {
	form {
		width: 500px;
	}
}