a {
	text-decoration: none;
	color: inherit;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.coin-column {
	display: table;
}

.coin-column p {
	display: table-cell;
	vertical-align: middle;
}

.red {
	color: red;
}

.green {
	color: green;
}

#portfolio-title-wrapper {
	display: grid;
	width: 95%;
	margin: auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "total-value button";
}

#total-value {
	grid-area: total-value;
	text-align: left;
	margin-left: 5%;
}

#add-coin-header {
	margin-right: 5%;
	grid-area: button;
	text-align: right;
}

#add-coin-text {
	display: none;
}

#add-coin {
	text-align: center;
	margin: auto;
	border-radius: 5px;
	padding: 3%;
	text-decoration: none;
	color: inherit;
}

#add-coin:hover {
	background-color: black;
	color: white;
}

#add-coin:focus {
	outline: none;
}

#coins-wrapper {
	width: 95%;
	margin: auto;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 5px;
}

.coin-row-wrapper {
	display: grid;
	grid-template-columns: 20% 50% 30%;
	border: 1px solid black;
}

.coin-row-wrapper:hover {
	box-shadow: 0 0 20px black;
}

@media only screen and (min-width: 600px) {
	#portfolio-title-wrapper {
		width: 50%;
	}

	#coins-wrapper {
		width: 50%;
	}

	.coin-row-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 850px) {
	#add-coin-text {
		display: inline-block;
	}

	#add-coin {
		background-color: lightgray;
	}
}