{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2 id="home-header">Home</h2>
<div id="coins-wrapper">
	<p>Rank</p>
	<p>Name</p>
	<p>Price</p>
	<p>24HR Change</p>
	{% for coin in coins %}
	<p>{{ coin.rank }}</p>
	<p><img src="https://files.coinmarketcap.com/static/img/coins/16x16/{{ coin.id }}.png"> {{ coin.name }} ({{ coin.symbol }})</p>
	<p>${{ coin.price_usd }}</p>
	{% if coin.percent_change_24h|float < 0 %}
	<p class="red">{{ coin.percent_change_24h }}%</p>
	{% else %}
	<p class="green">{{ coin.percent_change_24h }}%</p>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}